@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 22255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}
::-webkit-scrollbar {
  display: none;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    scale: .88;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #1300ff;
}

.typed-out{
  overflow: hidden;
  white-space: nowrap;
  /* border-right: .01em solid transparent; */
  animation: typing 2s 
  cubic-bezier(.62,.77,.51,.5)
  1.5s forwards; 
  /* animation-timing-function: cubic-bezier(0.2, -2, 0.8, 2); */
  width: 0;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  overflow-x: hidden;
}

body {
  color: rgb(var(--background-end-rgb));
  background: rgb(var(--foreground-rgb));
}

main {
  /* background: radial-gradient(circle, rgba(204,230,181,.7) 21%, rgba(141,137,166,1) 100%); */
}

.reveal-container {
  position: relative;
  margin: auto;
  display: inline-flex;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
}

.close-intro-effect {
  transition: transform var(--transition-duration, 1s) ease-in-out, opacity var(--transition-duration, 1s) ease-in-out;
}


.progress-wheel {
  position: fixed;
  top: 20px;
  left: 20px;
  transform: rotate(-90deg);
}

.progress-wheel circle {
  stroke-dashoffset: 0;
  stroke-width: 30%;
  fill: none;
}

.progress-wheel .bg {
  stroke: var(--accent);
  opacity: 0.2;
}

.progress-wheel .progress {
  stroke: var(--accent);
  stroke-dasharray: 0, 1;
}