@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  color: rgb(var(--background-end-rgb));
  background: rgb(var(--foreground-rgb));
}

#intro {
  background: rgb(204,230,181);
  background: radial-gradient(circle, rgba(204,230,181,1) 21%, rgba(141,137,166,1) 100%);
}

.close-intro-effect {
  transition: transform var(--transition-duration, 1s) ease-in-out, opacity var(--transition-duration, 1s) ease-in-out;
}
